<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean class="com.java.service.AccountServiceImpl" id="service">
		<constructor-arg type="com.java.dao.AccountRepository"
			ref="repository"></constructor-arg>
			<!-- <property name="rep" ref="repository"></property> -->
	</bean>

	<bean class="com.java.dao.AccountRepositoryImpl" id="repository" />
	
	<bean class="com.java.dao.AccountRepositoryImplV2" id="repositoryV2"/>
</beans>